.mentor {
  width: 301px;
  height: 350px;
  background: $primary;
  box-shadow: 0px 4px 20px #b9bcbe, inset 2px 2px 20px #d6dbde;
  border-radius: 20px;
  flex-direction: column;
  text-align: center;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
  }

  p.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: $text-color;
    margin-top: 10px;
  }

  p.job {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: $text-color;
    margin-top: 20px;
  }
}
