.home {
  .hooper {
    width: 100%;
    height: 100vh;
    max-height: 600px;
    .slide {
      width: 100%;
      height: 100%;
      background-color: green;
    }
  }
  .about {
    width: 100%;
    height: 100vh;
    max-height: 480px;
    .title {
      @include flexBox(center, center);
      p {
        font-weight: 500;
        font-size: 26px;
        line-height: 31px;
        color: $secondary;
      }
    }
  }
}
