// Primary colors
$primary: #FFFFFF;
$primary-dark: #E4E4E4;

// Secondary colors
$secondary: #0D2DA2;
$secondary-light: #4F93FE;

// Accent colors
$accent: #FF9E01;
$accent-light: #FDEA6E;
$accent-dark: #FF7E00;

// Text colors
$text-color: #0A0A0A;
$text-light:  #898989;